@import "../../../public/scss/variables";

.blog-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  .blog-item {
    height: 370px;
    background-color: $gunmetal;
    border: 1px solid $charcoal-blue-gray;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: visible;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    &__title {
      font-size: 20px;
      line-height: 1.5;
      color: #e0e0e0;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 8px;
      font-weight: 600;

      &__txt {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
      }
    }

    &__timestamp {
      margin-bottom: 10px;
      font-size: 12px;
      color: $light-steel-blue;
    }

    &__image {
      height: 150px;
      overflow: hidden;
      border-radius: 10px;
      background: $light-active;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-authors {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      margin-bottom: 10px;
      border-radius: 8px;

      &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 50%;
        background: $light-active;
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &__name {
        line-height: 1.3;
        color: $off-white;
      }

      &__title {
        font-size: 13px;
        font-weight: bold;
      }

      &__positions {
        font-size: 12px;
        color: $light-steel-blue;
      }
    }

    &-actions {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;

      &__reactions,
      &__comments {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-icon {
      display: inline-block;
      color: $light-steel-blue;
      border: none;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: whitesmoke;
      }
    }
  }
}

// Mobile Responsive
@media only screen and (max-width: 768px) {
  .blog-list-container {
    grid-template-columns: 1fr;
  }
}

// Tablet Responsive
@media (min-width: 768px) and (max-width: 1024px) {
  .blog-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Desktop Responsive
@media (min-width: 1025px) {
  .blog-list-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
