$gunmetal: #1c1f26; // Dark bluish-gray (Gunmetal)
$charcoal-black: #0e1217; // Very dark blue-gray (Charcoal Black)
$charcoal-blue-gray: #3c4147; // Light bluish-gray (Light Steel Blue)
$off-white: #f9f9f9; // Light grayish-white (Off White)
$light-steel-blue: #a8b3cf; // Light bluish-gray (Light Steel Blue)
