.sticky-header {
  position: sticky;
  top: 0;
}

.blog-container {
  display: flex;
}

.left-sidebar {
  width: 300px;
  min-height: 100vh;
  border-right: 1px solid #3c4147;
}

.blog-list {
  flex: 1;
}
