@import "../../../public/scss/variables";

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid $charcoal-blue-gray;
  padding: 10px;
  background: $charcoal-black;
  color: whitesmoke;

  &__logo {
    cursor: pointer;
  }

  &__logo-img {
    width: 100%;
    height: 30px;
    object-fit: contain;
  }
}
