@import "../../../public/scss/variables";

.blog {
  padding: 2rem 2.5rem;

  &__extension-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 30px;
  }

  &__extension {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__extension-btn {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: none;
    background-color: $gunmetal;
    color: $light-steel-blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: whitesmoke;
      transition: background-color 0.5s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    &-img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      overflow: hidden;
    }
  }

  &__extension-btn-icon {
    font-size: 25px;
  }

  &__extension-btn-text {
    display: inline-block;
    color: $light-steel-blue;
    margin-top: 5px;
  }

  &__extension-btn-remove {
    display: none;
    position: absolute;
    left: 42px;
    bottom: 57px;
    font-size: 30px;
  }

  &__extension:hover &__extension-btn-remove {
    display: block;
    color: $light-steel-blue;
    cursor: pointer;
  }
}
