@import "../../../public/scss/variables";

.blog-wrapper {
  padding: 2rem 2.5rem;

  .blog-extension {
    margin-bottom: 30px;

    .extension-btn {
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
      border: none;
      background-color: $gunmetal;
      color: $light-steel-blue;
      margin-right: 15px;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: whitesmoke;
        transition: background-color 0.5s ease-in-out;
      }

      &:focus {
        outline: none;
      }

      .extension-icon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}
