body {
  background-color: #0e1217;
  color: whitesmoke;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.content-container {
  display: flex;
}

.left-sidebar {
  width: 300px;
  min-height: 100vh;
  border-right: 1px solid #3c4147;
}

.main-content {
  flex: 1;
}